@charset "UTF-8";
header {
  background-color: #353535;
  padding: 0 !important; }

.DivRow {
  padding-top: .5rem;
  padding-bottom: .5rem;
  height: 100%;
  width: 100% !important;
  margin: auto !important; }
  .DivRow .ImgType {
    height: 1.5rem;
    width: 1.5rem; }
  .DivRow .DivAHome {
    margin-left: 0%;
    padding: 0;
    width: fit-content; }
    .DivRow .DivAHome a {
      text-decoration: none;
      color: white;
      width: auto;
      text-align: start; }
      .DivRow .DivAHome a h3 {
        font-family: "Barlow Semi Condensed", sans-serif;
        border-radius: .20rem;
        padding: .5rem;
        font-size: 1.2rem;
        margin: 0; }
  .DivRow .DivUL {
    list-style: none;
    margin: 0;
    padding: 0; }
    .DivRow .DivUL .DivANav {
      padding: 0;
      width: fit-content; }
      .DivRow .DivUL .DivANav a {
        text-decoration: none;
        color: white;
        width: auto;
        padding: 0;
        text-align: center; }
        .DivRow .DivUL .DivANav a h3 {
          border-radius: .20rem;
          padding: .5rem;
          font-size: .9rem;
          margin: 0; }
  .DivRow .DivANav :hover {
    transform: scale(1.1);
    transition: .25s;
    background-color: #c8c8c8;
    color: #161616; }
  @media only screen and (max-width: 767px) {
    .DivRow .DivAHome {
      margin-left: 0 !important;
      width: fit-content; }
    .DivRow .DivAHome :hover {
      transform: scale(1.3);
      transition: .25s;
      background-color: #353535;
      color: white; }
    .DivRow .DivANav :hover {
      transform: scale(1.3);
      transition: .25s;
      background-color: #353535;
      color: white; } }

footer {
  background-color: #353535; }
  footer .Footer {
    margin: auto; }
    footer .Footer .FooterContactos {
      padding: 1rem; }
      footer .Footer .FooterContactos .TituloF1 {
        width: fit-content;
        color: white; }
        footer .Footer .FooterContactos .TituloF1 h4 {
          font-size: 1rem; }
      footer .Footer .FooterContactos .FooterRed {
        height: 4rem;
        margin-bottom: 1rem; }
        footer .Footer .FooterContactos .FooterRed .col-1 {
          width: fit-content;
          padding: 0 !important; }
          footer .Footer .FooterContactos .FooterRed .col-1 a {
            list-style: none;
            margin: 0;
            padding: 0 !important; }
            footer .Footer .FooterContactos .FooterRed .col-1 a img {
              height: 1.5rem;
              width: 1.5rem;
              opacity: 60%;
              padding: 0 !important; }
            footer .Footer .FooterContactos .FooterRed .col-1 a img:hover {
              transition: .5s;
              transform: scale(1.15);
              opacity: 100%; }
    footer .Footer .Ubicación {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      footer .Footer .Ubicación .GoogleMaps {
        margin: auto;
        padding: 0;
        border-radius: .5rem;
        border: black 1px solid;
        width: 16rem;
        height: 16rem; }
    footer .Footer .CopyRight {
      text-align: center;
      margin-bottom: 1rem;
      color: white;
      padding: 0; }
      footer .Footer .CopyRight .CopyRight h5 {
        margin-top: 1rem !important;
        margin-bottom: .5rem !important;
        font-size: 1rem; }
      footer .Footer .CopyRight .CopyRight p {
        font-size: .75rem;
        margin: 0; }

.CopyRight {
  text-align: center;
  margin-bottom: 1rem; }

.CopyRight h5 {
  color: white;
  margin-top: 1rem !important;
  margin-bottom: .5rem !important;
  padding: 0;
  font-size: 1rem; }

.CopyRight p {
  color: white;
  font-size: .75rem;
  padding: 0;
  margin: 0; }

main {
  padding: 0;
  background-color: #d8d8d8; }

.HomeSec {
  height: 95vh;
  padding-top: 4%;
  padding-bottom: 4%;
  margin: auto !important; }
  .HomeSec h2 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: .8rem;
    font-weight: 600; }
  .HomeSec .Titulo1 {
    font-family: "Bebas Neue", cursive;
    font-size: 4rem;
    font-weight: 400;
    padding: 0;
    margin: 0; }
  .HomeSec .contenedor_rotacion {
    margin: 0;
    padding: 0;
    width: 16rem;
    height: 3rem;
    overflow: hidden; }
    .HomeSec .contenedor_rotacion ul {
      padding: 0px;
      list-style: none;
      font-size: 2.5rem;
      line-height: 3rem;
      font-family: 'Barlow Semi Condensed', sans-serif;
      animation: rotar 12s infinite; }

@keyframes rotar {
  0% {
    margin-top: 0%; }
  20% {
    margin-top: 0%; }
  25% {
    margin-top: -3rem; }
  45% {
    margin-top: -3rem; }
  50% {
    margin-top: -6rem; }
  70% {
    margin-top: -6rem; }
  75% {
    margin-top: -3rem; }
  95% {
    margin-top: -3rem; }
  100% {
    margin-top: 0; } }
  .HomeSec .CarouselHome {
    padding-top: var(--bs-gutter-x, 0.75rem);
    padding-bottom: var(--bs-gutter-x, 0.75rem); }
    .HomeSec .CarouselHome .carousel-caption {
      position: absolute;
      right: 15%;
      top: .5rem;
      /* bottom: 1.25rem; */
      left: 15%;
      color: #fff;
      text-align: center; }
      .HomeSec .CarouselHome .carousel-caption .TituloA {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        text-decoration: none;
        color: black; }
      .HomeSec .CarouselHome .carousel-caption .TituloB {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        text-decoration: none;
        color: white; }
      .HomeSec .CarouselHome .carousel-caption .PA {
        font-size: .8em;
        color: black; }
      .HomeSec .CarouselHome .carousel-caption .PB {
        font-size: .8em; }

main .TituloProyectos {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  height: fit-content;
  border-bottom: black solid 1.5px; }
  main .TituloProyectos h2 {
    width: fit-content;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    font-style: italic; }

main .ContenidoProyecto {
  padding-bottom: 5rem;
  margin: auto; }
  main .ContenidoProyecto .CajaProyecto {
    padding: .5rem; }
    main .ContenidoProyecto .CajaProyecto a .ImagenProyectos {
      width: 100%;
      aspect-ratio: 1.77;
      opacity: 70%;
      border-radius: .25rem; }
    main .ContenidoProyecto .CajaProyecto a :hover {
      transform: scale(1.04);
      transition: .5s;
      opacity: 100%; }

@media only screen and (max-width: 767px) {
  main .TituloProyectos h2 {
    font-size: 2.5rem; } }

.Trabajos {
  padding-left: 10%;
  padding-right: 10%;
  margin: auto; }
  .Trabajos .TituloTrabajo {
    margin: auto;
    padding-top: 5%;
    padding-bottom: 2%; }
    .Trabajos .TituloTrabajo h2 {
      font-family: "Barlow Semi Condensed", sans-serif;
      font-size: 2.5rem;
      font-weight: 400;
      font-style: italic;
      text-align: center; }
  .Trabajos .ContenidoTrabajo {
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%h; }
    .Trabajos .ContenidoTrabajo p {
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center; }
    .Trabajos .ContenidoTrabajo img {
      height: auto;
      width: 100%;
      aspect-ratio: 1.77; }
  .Trabajos hr {
    margin-right: 10%;
    margin-left: 10%; }
  .Trabajos .btn-volver {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 6%; }
    .Trabajos .btn-volver a {
      background-color: #353535;
      color: #d8d8d8;
      padding: .45rem;
      border-radius: .35rem;
      text-decoration: none; }

@media only screen and (max-width: 767px) {
  .Trabajos {
    padding-left: 0;
    padding-right: 0; } }

.Estudio {
  margin: auto; }
  .Estudio .EstudioTitulo {
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    height: fit-content;
    border-bottom: black solid 1.5px; }
    .Estudio .EstudioTitulo h2 {
      width: fit-content;
      font-family: "Barlow Semi Condensed", sans-serif;
      font-size: 3rem;
      font-weight: 400;
      font-style: italic; }
  .Estudio .EstudioParrafo {
    height: 80vh;
    padding-top: 10rem;
    text-align: center; }

@media only screen and (max-width: 1024px) {
  .EstudioParrafo {
    height: 40vh !important;
    font-size: 1rem;
    padding-top: 5rem !important;
    padding-bottom: 2rem !important; } }

@media only screen and (max-width: 767px) {
  .EstudioTitulo h2 {
    font-size: 2.5rem !important; }
  .EstudioParrafo {
    height: fit-content !important;
    padding-top: 1rem !important;
    padding-bottom: 2rem !important; } }

main {
  height: 100%; }

.perfil-titulo {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  height: fit-content;
  border-bottom: black solid 1.5px; }
  .perfil-titulo h2 {
    width: fit-content;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    font-style: italic; }

@media only screen and (max-width: 767px) {
  .perfil-titulo h2 {
    font-size: 2.5rem; } }

.Perfil {
  height: 100%;
  padding-bottom: 3rem; }
  .Perfil .Perfil01, .Perfil .Perfil02 {
    margin-top: 1rem;
    height: 100%; }
    .Perfil .Perfil01 .DivPerfil, .Perfil .Perfil02 .DivPerfil {
      background-color: #e9e9e9;
      border-radius: .5rem;
      width: 15rem;
      height: 28rem;
      margin: 0;
      margin-bottom: 2rem;
      padding: 1rem;
      display: flex;
      flex-direction: column; }
      .Perfil .Perfil01 .DivPerfil .PerfilNombre, .Perfil .Perfil02 .DivPerfil .PerfilNombre {
        margin-top: 1rem;
        text-align: center; }
      .Perfil .Perfil01 .DivPerfil .ImgPerfil, .Perfil .Perfil02 .DivPerfil .ImgPerfil {
        margin: 0 auto;
        height: fit-content;
        width: fit-content; }
      .Perfil .Perfil01 .DivPerfil .Contactos, .Perfil .Perfil02 .DivPerfil .Contactos {
        font-size: 5rem;
        width: 100%;
        margin-bottom: 1rem; }
        .Perfil .Perfil01 .DivPerfil .Contactos h3, .Perfil .Perfil02 .DivPerfil .Contactos h3 {
          text-align: center;
          font-size: 1.05rem;
          color: black !important; }
      .Perfil .Perfil01 .DivPerfil .DivIMG, .Perfil .Perfil02 .DivPerfil .DivIMG {
        margin-top: 1rem;
        padding-left: 0 !important;
        padding-right: 0 !important; }
        .Perfil .Perfil01 .DivPerfil .DivIMG a img, .Perfil .Perfil02 .DivPerfil .DivIMG a img {
          height: 1.5rem;
          width: 1.5rem;
          opacity: 60%;
          padding: 0 !important; }
        .Perfil .Perfil01 .DivPerfil .DivIMG a img:hover, .Perfil .Perfil02 .DivPerfil .DivIMG a img:hover {
          transition: .5s;
          transform: scale(1.15);
          opacity: 100%; }

.contacto {
  height: fit-content; }
  .contacto .ContactoTitulo {
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    height: fit-content;
    border-bottom: black solid 1.5px; }
    .contacto .ContactoTitulo h2 {
      width: fit-content;
      font-family: "Barlow Semi Condensed", sans-serif;
      font-size: 3rem;
      font-weight: 400;
      font-style: italic; }
  .contacto .Formulario {
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem; }
  @media only screen and (max-width: 767px) {
    .contacto .ContactoTitulo h2 {
      font-size: 2.5rem; } }
