$font-titulo: 'Bebas Neue', cursive;
$font-primery:'Urbanist', sans-serif;
$font-secundaria:'Barlow Semi Condensed', sans-serif;
$font-size-1: 4rem;
$font-size-2: 1.75rem;
$font-size-3: 1rem;
$color-primario: rgb(53, 53, 53);
$color-secundario:  rgb(216, 216, 216);
$v-0: 0;
$v-100: 100%;
$v-auto: auto;


.contacto {

    height: 95vh;
     
    .ContactoTitulo {
        margin: auto;
        padding-top: 1rem;
        margin-bottom: 1rem;
        height: 15vh;
        border-bottom: black solid 1.5px;
        
        h2 {
        width: fit-content;
        font-family: $font-secundaria;
        font-size: 3rem;
        font-weight: 400;
        font-style: italic;
        }
    }

    .Formulario {

        margin: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }


@media only screen and (max-width: 767px)
    {
        .ContactoTitulo{
            h2{
                font-size: 2.5rem
            }
        }
        
    }
}
