$font-titulo: 'Bebas Neue', cursive;
$font-primery:'Urbanist', sans-serif;
$font-secundaria:'Barlow Semi Condensed', sans-serif;
$font-size-1: 4rem;
$font-size-2: 1.75rem;
$font-size-3: 1rem;
$color-primario: rgb(53, 53, 53);
$color-secundario:  rgb(216, 216, 216);
$v-0: 0;
$v-100: 100%;
$v-auto: auto;

.Estudio{
    
    margin: auto;

    .EstudioTitulo{
    
        margin: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        height: fit-content;
        border-bottom: black solid 1.5px;
        
        h2 {
            width: fit-content;
            font-family: $font-secundaria;
            font-size: 3rem;
            font-weight: 400;
            font-style: italic;
        }
    }

    .EstudioParrafo{
        margin: auto !important;
        height: 80vh;
        padding-top: 10rem;       
        text-align: center;
    }
}

@media only screen and (max-width: 1024px)
    {
        .EstudioParrafo {
            height: 40vh !important;
            font-size: 1rem;
            padding-top: 5rem !important;
            padding-bottom: 2rem !important;
        }
        
    }

@media only screen and (max-width: 767px)
    {
        .EstudioTitulo{
            h2{
                font-size: 2.5rem !important;
            }
        }
        .EstudioParrafo {
            height: fit-content !important;
            padding-top: 1rem !important;
            padding-bottom: 2rem !important;
        }
        
    }



