$font-primery:'Urbanist', sans-serif;
$font-size-1: 4rem;
$font-size-2: 1.75rem;
$font-size-3: 1rem;
$color-primario: rgb(53, 53, 53);
$color-secundario:  rgb(216, 216, 216);
$v-0: 0;
$v-100: 100%;
$v-auto: auto;

footer {
    background-color: $color-primario;

    .FooterContactos {

        padding: 1rem;

        .TituloF1 {
            width: fit-content;
            
            p {
                text-align: center;
                font-size: 1.05rem;
                color: white !important;
            }
        }
        
        .FooterRed {
            height: 4rem;
            margin-bottom: 1rem;
            
        
            .col-1 {
                width: fit-content;
                padding: 0 !important;
                a{
                    list-style: none;
                    margin: $v-0;
                    padding: $v-0 !important; 
                    
                    img{
                        height: 1.5rem;
                        width: 1.5rem;
                        opacity: 60%;
                        padding: 0 !important;
                    }
        
                    img:hover{
                        transition: .5s;
                        transform: scale(1.15);
                        opacity: 100%
                    }
                }
            }
            
        }
    }

    .Ubicación {
        margin-top: 1rem;
        margin-bottom: 1rem;

        .GoogleMaps {
            margin: auto;
            padding: 0;
            border-radius: .5rem;
            border: rgb(0, 0, 0) 1px solid;
            width: 16rem;
            height: 16rem ;
        }
    }

    .CopyRight {
        text-align: center;
        margin-bottom: 1rem;
        color: white;
        padding: 0;

        .CopyRight h5{
            margin-top: 1rem !important;
            margin-bottom: .5rem !important;
            font-size: 1rem;
            
        }

        .CopyRight p{
            font-size: .75rem;
            margin: 0;
        }

    }

}





.CopyRight {
    text-align: center;
    margin-bottom: 1rem;
}

.CopyRight h5{
    color: white;
    margin-top: 1rem !important;
    margin-bottom: .5rem !important;
    padding: 0;
    font-size: 1rem;
    
}

.CopyRight p{
    color: white;
    font-size: .75rem;
    padding: 0;
    margin: 0;
}