$font-titulo: 'Bebas Neue', cursive;
$font-primery:'Urbanist', sans-serif;
$font-secundaria:'Barlow Semi Condensed', sans-serif;
$font-tercera: 'Montserrat', sans-serif;
$font-size-1: 4rem;
$font-size-2: 1.75rem;
$font-size-3: 1rem;
$color-primario: rgb(53, 53, 53);
$color-secundario:  rgb(216, 216, 216);
$v-0: 0;
$v-100: 100%;
$v-auto: auto;

main{

    padding: $v-0;
    background-color: $color-secundario;
    height: 97vh;    
}
.Home{
    
    padding-top: 4%;
    padding-bottom: 4%;

    h2{
        font-family: $font-secundaria;
        font-size: .8rem;
        font-weight: 600;
    }
    

    .Titulo1 {
        font-family: $font-titulo;
        font-size: 4rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }

    .contenedor_rotacion{
        // border: 1px solid #000;
        margin: 0;
        padding: 0;
        width: 16rem;
        height: 3rem;

        overflow: hidden;

        ul{
            padding: 0px;
            list-style: none;
            font-size: 2.5rem;
            line-height: 3rem;
            font-family: 'Barlow Semi Condensed', sans-serif;

            animation: rotar 12s infinite;

        }

        @keyframes rotar {
            
            0%{margin-top: 0%;}
            20%{margin-top: 0%;}

            25%{margin-top: -3rem;}
            45%{margin-top: -3rem;}

            50%{margin-top: -6rem;}
            70%{margin-top: -6rem;}

            75%{margin-top: -3rem;}
            95%{margin-top: -3rem;}

            100%{margin-top: 0;}

        }
    }



    .CarouselHome{
        padding-top: var(--bs-gutter-x, 0.75rem);
        padding-bottom: var(--bs-gutter-x, 0.75rem);
        
        .TituloA {
            font-family: $font-tercera;
            font-weight: 600;
            font-size: 1rem;
            text-decoration: none;
            color: black;
        }
        
        .TituloB{
            font-family: $font-tercera;
            font-weight: 600;
            font-size: 1rem;
            text-decoration: none;
            color: white;
        }

        .PA {
            font-size: .8em;
            color: black;
        }

        .PB{
            font-size: .8em;
            
        }
    
    }
    
    
    
}

