$font-titulo: 'Bebas Neue', cursive;
$font-primery:'Urbanist', sans-serif;
$font-secundaria:'Barlow Semi Condensed', sans-serif;
$font-size-1: 4rem;
$font-size-2: 1.75rem;
$font-size-3: 1rem;
$color-primario: rgb(53, 53, 53);
$color-secundario:  rgb(216, 216, 216);
$v-0: 0;
$v-100: 100%;
$v-auto: auto;

.Trabajos {

    padding-left: 10%;
    padding-right: 10%;

    .TituloTrabajo{

        padding-top: 5%;
        padding-bottom: 2%;

        h2{
            
            font-family: $font-secundaria;
            font-size: 2.5rem;
            font-weight: 400;
            font-style: italic;
            text-align: center;
            }
    }
    
    .ContenidoTrabajo{

        padding-top: 5%;
        padding-bottom: 5%h;

        p{
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
        }

        img{
            height: auto;
            width: 100%;
            aspect-ratio: 1.77;  
        }  
    }

    hr{
        margin-right: 10%;
        margin-left:10%;
    }

    .btn-volver{

        display: flex;
        justify-content: center;

        padding-top: 3%;
        padding-bottom: 6%;

        a{
            background-color: $color-primario;
            color: $color-secundario;
            padding: .45rem;
            border-radius: .35rem;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 767px)
{
    .Trabajos{
        padding-left: 0;
        padding-right: 0;
    }
}